
body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}


#container {
    background-color: black;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 640px;
}

.block {
    background-color: white;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 2px solid black;  
}

.button {
    display: flex;
    padding: 15px 30px;
    margin-bottom: 100px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);

}

.button:hover {
    padding: 20px 40px;
    background-color: #dbd034;
}