
body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}


#container {
    background-color: black;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 640px;
}

.block {
    background-color: white;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 2px solid black;  
}